<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BindingSourceSolution.Properties.Settings.HumanManagementConnectionString"
            connectionString="Data Source=20190114-100739\SQLEXPRESS;Initial Catalog=HumanManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>